<h1>GET Request Received</h1>
<table>
    <thead>
    <tr>
        <th scope="col">Names</th>
        <th scope="col">Values</th>
    </tr>
    </thead>
    <tbody>
    <tr>
    {{#each infoList}}
        <td>{{this.name}}</td>
        <td>{{this.value}}</td>
    {{/each}}
    </tr>

    </tbody>
</table>