<h1>POST Request Received</h1>
<table>
    <thead>
        <tr>
            <th scope="col">Names</th>
            <th scope="col">Values</th>
        </tr>
    </thead>
    <tbody>
    {{#each infoList}}
        <tr>
            <td>{{this.name}}</td>
            <td>{{this.value}}</td>
        </tr>
    {{/each}}
    </tbody>
</table>
<br />
<br />
<table>
    <thead>
    <tr>
        <th scope="col">Property Names</th>
        <th scope="col">Values</th>
    </tr>
    </thead>
    <tbody>
    {{#each dataList}}
        <tr>
            <td>{{this.name}}</td>
            <td>{{this.value}}</td>
        </tr>
    {{/each}}
    </tbody>
</table>