<h1>POST Request Received</h1>
<table>
    <thead>
        <tr>
            <th scope="col">Names</th>
            <th scope="col">Values</th>
        </tr>
    </thead>
    <tbody>
        {{#each infoList}}}
            <tr>{{this.name}}</tr>
            <tr>{{this.value}}</tr>
        {{/each}}
    </tbody>
</table>
<br />
<br />
<table>
    <thead>
    <tr>
        <th scope="col">Property Names</th>
        <th scope="col">Values</th>
    </tr>
    </thead>
    <tbody>
    {{#each infoList}}}
        <tr>{{this.name}}</tr>
        <tr>{{this.value}}</tr>
    {{/each}}
    </tbody>
</table>